/*main*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color:white;
    --alert:red;
    --verde:#00875A;
    --black: black;

}
main{
    margin: 2rem auto;
    width: 1000px;
}

img{
    width: 300px;
}


/*container*/
.product{
    position: relative;
    width: 300px;
    height: 433.13px;
}

.box_product{
    display: inline-block;
    margin: 3px;
}

.box_badge{
    height: 45px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/*display*/
.display_none{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.product:hover .display_none{
 visibility: visible;
}


/*lista badge*/
.white_square{
    background-color: var(--main-color);
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: 10px;
    font-size: 1.5rem;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
}

.discount{
    background-color: var(--alert);
    
     
}

.sostenibilità{
   background-color: var(--verde);
   
}

.badge{
    color: var(--main-color);
    padding: 0.25rem;
    bottom: 15px;
    display: inline-block;
}


/*testo*/
.price{
    color: var(--alert);
}

.testo_barrato{
    text-decoration: line-through;
    color: var(--black);
}

a{
    text-decoration: none;
    color: var(--black);
}

a:hover{
    color: var(--alert);
}